<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="plantilla/template::head"></head>  
    <link rel="stylesheet" href="css/partidos.css">


    <body>
        <!-- esta va a ser el main div -->
        <div class="container"> 
            <!-- esta va a ser la barra de navegacion /Este DIV es nuestro NAVBAR = navigation bar -->
            <img src="images/palabra cine.png" class='logo' alt="Es mi logo"/>

            <header th:replace="plantilla/template::header"></header>


            <h1>Bienvenido a tu cine favorito</h1>
            <div class='content'>

                <p>CARTELERA, COSTA RICA</p>



                <th:block th:each="user : ${cinedataset}">

                    <tr>
                    <div class="cartasposc">

                        <div class="card" border style="width: 18rem;">
                            <div class="card-body">

                                <p class="card-text"><td th:text="${user.getNombre}"></td></p>

                                <img th:src="${user.getImagen}" id="imagen" class="card-img-top"/>

                                <div class="cartasbtn">
                                    <td>
                                        <a class="btn btn-outline-success my-2 my-sm-0 btn-sm" th:href="@{/editCine/{id}(id=${user.getId})}">Edit</a>
                                    </td>

                                    <td>
                                        <a class="btn btn-outline-danger my-2 my-sm-0 btn-sm" th:href="@{/deleteCine/{id}(id=${user.getId})}">Delete</a>
                                    </td> </div>

                            </div>
                        </div>
                    </div>

                    </tr> 
                </th:block>



                <div class='content'>
                    <p>TRAILERS PELICULAS RECIENTES</p>

                    <div class='video-content'>

                        <iframe width="560" height="315" 
                                src="https://www.youtube.com/embed/jYRtFFa4hT8" 
                                title="YouTube video player" frameborder="0" 
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                                allowfullscreen></iframe>

                        <iframe 
                            width="560" 
                            height="315"
                            src="https://www.youtube.com/embed/fb5ELWi-ekk" 
                            title="YouTube video player"
                            frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                            allowfullscreen></iframe>
                    </div>
                </div>


            </div>
    </body> 



<footer th:replace="plantilla/template::footer"></footer>
</html>
